@import 'variables';

.container {
  position: relative;
  max-width: $container;
  width: auto;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $lg) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.notice {
  background-color: #2d3596;
  display: flex;
  align-items: center;
  justify-content: center;

  &__alert {
    background-color: #ff9848;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 4px 14px;
    margin: 8px 8px 8px 0;
  }

  &__message {
    color: #fff;
    font-size: 0.8125rem;
    line-height: 1.2rem;
  }

  @media (max-width: $md) {
    padding-left: 16px;
    padding-right: 16px;

    &__alert {
      margin-right: 16px;
    }
  }
}

.header {
  margin-top: 78px;
  text-align: center;

  &__description {
    color: #808fbc;
    font-size: 0.625rem;
    font-weight: 200;
  }

  &__title {
    color: #1b2979;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 4px;
    font-weight: 400;
    margin-top: 27px;
  }
}

.intro {
  position: relative;
  text-align: center;
  max-width: 786px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.4375rem;
    color: $base-color;
    font-weight: 400;
  }

  &__description {
    color: $base-color;
    max-width: 494px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    letter-spacing: 0.0169rem;
    font-weight: 400;
    line-height: 1.5625rem;
    font-family: 'Muli', sans-serif;
  }

  &__illustration {
    margin-top: 40px;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &__more-btn {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    transform: rotate(-90deg);
    text-transform: uppercase;
    color: $base-color;
    font-size: 0.75rem;
    letter-spacing: 0.3362rem;
    border-bottom: solid 2px $base-color;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: $md) {
    &__title {
      font-size: 2rem;
    }
  }

  @media (max-width: $xs) {
    &__title {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
}

.features__wrapper {
  position: relative;

  &:before {
    content: '';
    background: url('../img/dots-palette.svg');
    position: absolute;
    top: 43px;
    left: 0;
    width: 267px;
    height: 268px;

    @media (max-width: $container-sm) {
      display: none;
    }
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  margin-top: 178px;
  margin-bottom: 128px;

  @media (max-width: $container-sm) {
    margin-bottom: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 650px) {
    margin-bottom: 0;
  }

  @media (max-width: $md) {
    grid-template-columns: 1fr;
  }
}

.feature {
  max-width: 361px;
  min-height: 315px;
  background-image: linear-gradient(to bottom, #ebebf3, rgba(220, 220, 220, 0));
  padding-left: 32px;
  justify-content: stretch;
  display: grid;
  grid-auto-rows: 6.5rem minmax(1rem, auto);
  border-radius: 10px;

  &__number {
    font-size: 9.375rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }

  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 0.0394rem;
    color: #1b2979;
  }

  &__text {
    max-width: 264px;
    line-height: 1.4375rem;
    font-size: 1rem;
    letter-spacing: 0.0315rem;
    color: #637097;
  }
  &__button {
    background: #1b2979;
    border: 1px solid $base-color;
    box-sizing: border-box;
    box-shadow: 0px 8px 13px rgba(27, 41, 121, 0.214844);
    border-radius: 4px;
    color: #fff;
    max-width: 217px;
    padding: 11px;
    line-height: 1.75rem;
    font-size: 0.875rem;
    text-align: center;
    letter-spacing: 0.0988rem;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: $container-sm) {
    max-width: initial;
    justify-content: center;
    margin-bottom: 48px;

    &:nth-child(3) {
      grid-column: 1 / span 2;
      margin-bottom: 0;
    }
  }

  @media (max-width: $md) {
    &:nth-child(3) {
      grid-column: auto;
    }
  }
}

.app__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 6rem minmax(1rem, auto);

  .app-wrapper__img {
    grid-column: 2;
    grid-row: 1/3;
  }

  @media (max-width: 650px) {
    .app-wrapper__img {
      display: none;
    }
  }
}

.app {
  display: grid;
  grid-column: 1/3;
  grid-row: 2;
  height: 350px;
  width: 100%;
  padding: 40px 78px;
  background: url('../img/pattern.svg'), linear-gradient(90deg, #1b2979 0%, #3f93f2 100%);
  border-radius: 20px;

  &__content {
    max-width: 400px;
    color: #fff;

    @media (max-width: 800px) {
      max-width: 300px;
    }

    @media (max-width: 650px) {
      max-width: initial;
    }
  }

  &__title {
    margin-top: 0;
    font-size: 2rem;
    line-height: 2.75rem;
    font-weight: 400;

    @media (max-width: $sm) {
      font-size: 1.8rem;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0313rem;
    margin-bottom: 1.25rem;
  }

  &__button {
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 201px;
    padding: 10px 0 10px 16px;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(180deg, #f7f7fa 0%, #ebedf2 100%);
    border: 1px solid #e4eaf5;
    border-radius: 4px;

    .app-button__img {
      max-width: 30px;
      height: auto;
      margin-right: 16px;
      border-radius: 50%;
      background: #fff;

      @media (max-width: $md) {
        margin: 0 auto;
      }
    }

    .app-button__text {
      font-size: 1rem;
      text-transform: capitalize;
      letter-spacing: 0.266667px;
      color: #1b2979;
    }
  }

  @media (max-width: 800px) {
    height: 380px;
    padding: 16px 32px;
  }
  @media (max-width: 650px) {
    height: auto;
  }
}

.footer-container {
  background: linear-gradient(180deg, #ffffff 0%, #f1f5fd 100%);
}

.footer {
  padding: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $lg) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.copyright {
  font-family: 'Muli', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.005rem;
  line-height: 1.25rem;
  color: #8288a5;
}

.social {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    background-color: #5f6588;
    padding: 8px;
    border-radius: 50%;

    img {
      display: block;
      max-width: 16px;
      height: auto;
    }
  }

  @media (max-width: $md) {
    margin-top: 24px;
  }
}
