@import 'variables';

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  max-width: $container;

  @media (max-width: $lg) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3596;

  &__label {
    margin: 8px 8px 8px 0;
    border-radius: 2px;
    background-color: #ff9848;
    padding: 4px 14px;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 400;
  }

  &__message {
    line-height: 1.2rem;
    color: #fff;
    font-size: 0.8125rem;
  }

  @media (max-width: $md) {
    padding-right: 16px;
    padding-left: 16px;

    &__alert {
      margin-right: 16px;
    }
  }
}

.header {
  margin-top: 78px;
  text-align: center;

  &__description {
    color: #808fbc;
    font-size: 0.625rem;
    font-weight: 200;
  }

  &__title {
    margin-top: 27px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1b2979;
    font-size: 1rem;
    font-weight: 400;
  }
}

.intro {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 786px;
  text-align: center;

  &__title {
    text-align: center;
    line-height: 3.4375rem;
    color: $base-color;
    font-size: 2.5rem;
    font-weight: 400;
  }

  &__description {
    margin-right: auto;
    margin-left: auto;
    max-width: 494px;
    line-height: 1.5625rem;
    letter-spacing: 0.0169rem;
    color: $base-color;
    font-family: $font-muli;
    font-size: 1rem;
    font-weight: 400;
  }

  &__illustration {
    display: block;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
  }

  &__show-more-button {
    transform: rotate(-90deg);
    margin: 0;
    margin-right: 25px;
    border: 0;
    border-bottom: solid 2px $base-color;
    background-color: transparent;
    padding: 0;
    padding-right: 6px;
    padding-bottom: 8px;
    padding-left: 6px;
    text-transform: uppercase;
    letter-spacing: 0.3362rem;
    color: $base-color;
    font-size: 0.75rem;

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: $md) {
    &__title {
      font-size: 2rem;
    }
  }

  @media (max-width: $xs) {
    &__title {
      line-height: 2.4rem;
      font-size: 1.8rem;
    }
  }
}

.features-wrapper {
  position: relative;

  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('../img/dots-palette.svg');
    width: 267px;
    height: 268px;
    content: '';

    @media (max-width: $container-sm) {
      display: none;
    }
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  margin-top: 178px;
  margin-bottom: 128px;

  @media (max-width: $container-sm) {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
  }
  @media (max-width: 650px) {
    margin-bottom: 0;
  }

  @media (max-width: $md) {
    grid-template-columns: 1fr;
  }
}

.feature {
  display: grid;
  grid-auto-rows: 4.5rem minmax(0.1rem, auto);
  justify-content: stretch;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #ebebf3, rgba(220, 220, 220, 0));
  padding: 16px 32px;
  max-width: 361px;
  min-height: 315px;

  &__number {
    align-self: center;
    margin-bottom: 0;
    padding-top: 32px;
    color: #fff;
    font-family: $font-montserrat;
    font-size: 9.375rem;
    font-weight: 600;
  }

  &__title {
    margin-bottom: 0;
    letter-spacing: 0.0394rem;
    color: #1b2979;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__text {
    max-width: 264px;
    line-height: 1.4375rem;
    letter-spacing: 0.0315rem;
    color: #637097;
    font-size: 1rem;
  }

  &__button {
    box-sizing: border-box;
    transition: all 0.2s;
    border: 1px solid $base-color;
    border-radius: 4px;
    box-shadow: 0px 8px 13px rgba(27, 41, 121, 0.214844);
    background: #1b2979;
    padding: 11px;
    max-width: 217px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.75rem;
    letter-spacing: 0.0988rem;
    color: #fff;
    font-size: 0.875rem;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  @media (max-width: $container) {
    padding: 16px;
  }

  @media (max-width: $container-sm) {
    justify-content: center;
    margin-bottom: 48px;
    max-width: initial;

    &:nth-child(3) {
      grid-column: 1 / span 2;
      margin-bottom: 0;
    }
  }

  @media (max-width: $md) {
    &:nth-child(3) {
      grid-column: auto;
    }
  }
}

.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 6rem minmax(1rem, auto);

  .app-wrapper__img {
    grid-row: 1/3;
    grid-column: 2;
  }

  @media (max-width: $container-sm) {
    grid-template-columns: 3fr 2fr;
  }

  @media (max-width: 650px) {
    .app-wrapper__img {
      display: none;
    }
  }
}

.app {
  display: grid;
  grid-row: 2;
  grid-column: 1/3;
  border-radius: 20px;
  background: url('../img/pattern.svg'), linear-gradient(90deg, #1b2979 0%, #3f93f2 100%);
  padding: 40px 78px;
  width: 100%;
  height: 350px;

  &__content {
    max-width: 400px;
    color: #fff;

    @media (max-width: 800px) {
      max-width: 260px;
    }

    @media (max-width: 650px) {
      max-width: initial;
    }
  }

  &__title {
    margin-top: 0;
    line-height: 2.75rem;
    font-size: 2rem;
    font-weight: 400;

    @media (max-width: $sm) {
      font-size: 1.8rem;
    }
  }

  &__text {
    margin-bottom: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.0313rem;
    font-size: 1rem;
  }

  &__button {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    transition: all 0.2s;
    border: 1px solid #e4eaf5;
    border-radius: 4px;
    background: linear-gradient(180deg, #f7f7fa 0%, #ebedf2 100%);
    padding: 10px 0 10px 16px;
    max-width: 201px;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }

    .app-button__img {
      margin-right: 16px;
      border-radius: 50%;
      background: #fff;
      max-width: 30px;
      height: auto;
    }

    .app-button__text {
      text-transform: capitalize;
      letter-spacing: 0.266667px;
      color: #1b2979;
      font-size: 1rem;
    }
  }

  @media (max-width: 800px) {
    height: 395px;
  }
  @media (max-width: 650px) {
    padding: 40px;
    height: auto;
  }
}

.footer-wrapper {
  background: linear-gradient(180deg, #ffffff 0%, #f1f5fd 100%);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;

  @media (max-width: $lg) {
    padding-right: 16px;
    padding-left: 16px;
  }

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.copyright {
  line-height: 1.25rem;
  letter-spacing: 0.005rem;
  color: #8288a5;
  font-family: $font-muli;
  font-size: 0.875rem;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    transition: all 0.2s;
    border-radius: 50%;
    background-color: #5f6588;
    padding: 8px;

    &:hover {
      transform: scale(1.2);
    }

    img {
      display: block;
      max-width: 16px;
      height: auto;
    }
  }

  @media (max-width: $md) {
    margin-top: 24px;
  }
}
